/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Colors Palette */
:root{
    --color-bg-black:#000000;
    --color-white:#ffffff;
    --color-green-icon:#45b10d;
    --color-red-text:#dd1e33;
}
/* Debug */
.debug{
    border: 1px solid blue;
}
.debug-2{
    border: 1px solid red;
}
/* Utilities */
.container{
    width: 100%;
    height: 100vh;
    background-color:var(--color-bg-black) ;
}
.contents{
    color: white;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}